.main {
    position: relative;
    font-family: "Roboto", sans-serif;
}
.header {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.header__title {
    max-width: 90%;
    font-family: "Roboto", sans-serif;
    margin: 20px 0 40px;
    max-width: 90%;
    font-size: 42px;
    text-align: center;
}
.container {
    width: 100vw;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
}
 .calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
} 
/* .calculator__title {
    margin: 0;
    max-width: 90%;
    font-size: 42px;
    text-align: center;
} */
.calculator__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    width: 90%;
}
.form__input {
    width: 100%;
    height: 40px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid #c6d0c2 ;
    margin-bottom: 20px;
    -webkit-appearance: none;
}

.calculator__form-button {
    width: 200px;
    height: 40px;
    background-color: black;
    border: none;
    color: white;
}
.calculator__form-button:active {
    background-color: green;
}
.popup {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.calculator__form-result {
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    background-color: white;
    width: 400px;
    height: 300px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@media screen and (max-width: 375px) {
    .calculator__form-result {
        width: 80%;
    }
}

.calculator__percent {
    margin-bottom: 20px;
}

.calculator__numbers-workouts:invalid {
    border-bottom: red 2px solid;
}
.calculator__numbers-workouts:valid {
    border-bottom: green 1px solid;
}
